@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}

#header-img {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid black; */
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 600px;
  /* border: 1px solid black; */
}

li {
  margin-right: 50px;
}

#nav-bar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #eee;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.kel {
  margin: 10px;
}

.btn {
  background-color: yellow;
  border: transparent;
  width: 170px;
  height: 30px;
  margin-left: 70px;
}

#email {
  width: 300px;
  height: 30px;
}

.grid {
  margin-top: 100px;
}

.icon {
  color: orange;
  margin-right: 60px;
}

#how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#pricing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid red;
}

.product {
  border: 1px solid black;
  margin: 10px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level {
  border: 1px solid yellow;
}
