@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
  line-height: 2;
}

a {
  color: #000;
  text-decoration: none;
}

h2 {
  margin: 15px;
  margin-bottom: 10px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}

#header-img {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid black; */
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 600px;
  /* border: 1px solid black; */
}

li {
  margin-right: 50px;
}

#nav-bar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #eee;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.billy {
  margin-left: 170px;
}

.kel {
  margin: 10px;
  background-color: yellow;
  border: transparent;
  width: 170px;
  height: 30px;
  margin-left: 70px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn {
  background-color: yellow;
  border: transparent;
  width: 170px;
  height: 30px;
  margin-left: 70px;
}

#email {
  width: 300px;
  height: 30px;
  border-radius: 10px;
}

.grid {
  margin-top: 100px;
}

.icon {
  color: orange;
  margin-right: 60px;
}

#how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#pricing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 60px;
  /* border: 1px solid red; */
}

.product {
  border: 1px solid rgb(230, 218, 218);
  margin: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.level {
  /* border: 1px solid yellow; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  width: 300px;
  height: 50px;
  background: rgb(206, 192, 192);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-1 {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
